.section_formulario_filiacao {
  display: inline-flex;
  flex-direction: column;
}

mat-card {
  margin: 100px;
}

button {
 margin-left: 20px;
}

.participante {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border-style: outset;
  border-width: 1px;
}

mat-radio-button{
  margin-right: 10px;
}

.section_formulario_capec {
  display: inline-flex;
  flex-direction: column;
}

mat-card {
  margin: 100px;
}


.beneficiario {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border-style: outset;
  border-width: 1px;
}
