<!--
<div class="container" fxLayout="column">
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center">
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="1" class="divTextoRight">
      <h6>The standard Lorem Ipsum passage, used since the 1500s</h6>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat."
      </p>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="2">
      <picture>
        <img src="../assets/imagens/porDoSol.JPG" alt="Familia ao por do sol" width="453" height="200">
      </picture>
    </div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" class="alteraOrdemDiv">
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="4">
      <picture>
        <img src="../assets/imagens/porDoSol.JPG" alt="Familia ao por do sol" width="453" height="200">
      </picture>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="3" class="divTextoLeft">
      <h6>The standard Lorem Ipsum passage, used since the 1500s</h6>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat."
      </p>
    </div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center">
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="5" class="divTextoRight">
      <h6>The standard Lorem Ipsum passage, used since the 1500s</h6>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat."
      </p>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="6">
      <picture>
        <img src="../assets/imagens/porDoSol.JPG" alt="Familia ao por do sol" width="453" height="200">
      </picture>
    </div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" class="alteraOrdemDiv">
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="8">
      <picture>
        <img src="../assets/imagens/porDoSol.JPG" alt="Familia ao por do sol" width="453" height="200">
      </picture>
    </div>
    <div fxFlex.lt-md="100" fxFlex="35" fxFlexOrder.lt-md="7" class="divTextoLeft">
      <h6>The standard Lorem Ipsum passage, used since the 1500s</h6>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat."
      </p>
    </div>
  </div>
</div>
-->
<app-formulario-filiacao></app-formulario-filiacao>
