  <div class="form-body d-flex justify-content-center">
    <div class="row">
      <div class="form-content">
        <div class="form-items">
          <div class=form-control>
            <div class="row">
              <h4>Você gostaria também de aderir a Capec?</h4>
              <p><b>O plano de pecúlio da Previ feito pra você. Conte com ainda mais tranquilidade e segurança para
                  você e sua família.</b></p>
              <div class="col-md-2">
                <input class="form-check-input" type="radio" name="aderirCapec" value="SIM" [(ngModel)]="aderirCapec"
                  (change)="valoresCapec()"><span style="margin-left: 5px;">SIM, QUERO ADERIR</span>
              </div>
              <div class="col-md-2">
                <input class="form-check-input" type="radio" name="aderirCapec" value="NAO" [(ngModel)]="aderirCapec"
                  (change)="mudou2()"><span style="margin-left: 5px;">DEIXAR PRA
                  DEPOIS</span>
              </div>
            </div>
          </div>
          <br />

          <!-- COLOCAR A LÓGICA DO SPINNER - SE TEM RESPOSTA= SPINNER SE NÃO VALORES -->

          <div *ngIf="aderirCapec == 'SIM'" class=form-control>
            <h3>Escolha o Plano</h3>
            <div class="row">
              <div class="col-md-6">
                <p>Plano Morte Júnior</p>
                <p>Para uma cobertura de:</p>
                <p>Você paga apenas:</p>
                <input class="form-check-input" type="radio" id="escolherCapec" name="planoCapecEscolhido"
                  value="AGORA"><span style="margin-left: 5px;">SELECIONAR</span>
              </div>
              <div class="col-md-6">
                <p>Plano Morte Júnior + Invalidez Júnior</p>
                <p>Para uma cobertura de</p>
                <p>Você paga apenas</p>
                <input class="form-check-input" type="radio" id="escolherCapec" name="planoCapecEscolhido"
                  value="AGORA"><span style="margin-left: 5px;">SELECIONAR</span>
              </div>
            </div>
          </div>


          <br />
          <br />

          <div *ngIf="aderirCapec == 'SIM'" class=" form-items">

            <h3>DADOS DO BENEFICIÁRIO</h3>
            <form [formGroup]="formularioCapec" #formCapec="ngForm">

              <div class="col-md-12">
                <input class="form-control" type="text" name="nome" formControlName="nome"
                  placeholder="Digite seu nome completo" required>
              </div>

              <div class="col-md-12">
                <input class="form-control" type="text" name="cpf" formControlName="cpf" placeholder="CPF" required>
              </div>

              <div class="col-md-12">
                <label>Data de Nascimento</label>
                <input class="form-control" type="date" name="dataNascimento" #campoDatNasc
                  formControlName="dataNascimento" required>
              </div>

              <div class="col-md-12">
                <select formControlName="vinculo">
                  <option value="" selected>Selecione o vínculo</option>
                  <option *ngFor="let vinculo of vinculos" [value]="vinculo.vlr">
                    {{vinculo.display}}
                  </option>
                </select>
              </div>

              <div class="col-md-12" style="margin-top: 20px;">
                <h6>SELECIONE O % DE ALOCAÇÃO DO BENEFICIÁRIO</h6>
                <p>A soma % de todos os participantes deve ser igual a 100%</p>
                <input class="form-control" type="number" name="percentual" formControlName="percentual"
                  #campoPercentual min="0" required>
              </div>
              <button class="btn btn-primary" style="width: 40%; margin-top: 15px;"
                (click)="incluirBeneficiario()">{{labelBtnIncluirBeneficiario}}</button>
            </form>
          </div>
          <div *ngFor="let item of beneficiarios">
            <div class="form-control">
              <p>{{item.nome}} - {{item.percentual}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
